*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body{
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}


.container{
    width: 100%;
    height: 100vh;
    background-image: url(img/bg-conv.jpg) ;
    


    
}

header{
    width: 100%;
    height: 10%;
    background: rgba(0, 10, 10, 0.2);
}

.sub-container{
    width: 90%;
    height: 90%;
    margin: auto;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    background-color: rgb(19, 27, 34);

}


.right-side{
    width: 75%;
    height: 100%;
    background-color: rgb(19, 27, 34);
    padding: 15px 0 0 0;
    display: flex;
    flex-direction: column;
    
}

.left-side{
    width: 35%;
    height: 100%;
    border-right: 1px solid darkgrey;
    padding: 15px;  /* prova */


}

.my-profile {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(42, 46, 49);

    

}

.my-profile img, .chat-preview img, .chat-preview-up img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
}

.my-profile h3{
  color:   rgb(200, 203, 206);
}

 
.my-profile ul{
    text-align: right;

}

.my-profile ul li{
    display: inline-block;
    margin: 0 5px;

}

.my-profile i{
    color: rgb(110, 110, 110);
    padding: 0 8px;
    font-size: 25px;

}

.notify{
    background-color: rgb(19, 27, 34);
    color: rgb(135, 135, 135);
    font-size: 20px;
    padding: 20px 0;
}

.notify:hover{
    background-color: rgb(9, 81, 113);
    border-radius: 15px;
    color: rgb(144, 176, 192);
}

.notify i{
    padding:10px;
    border-radius: 100%;
    background-color:rgb(48, 54, 57) ;
}

.search-contact{
    position: relative;
    background-color: rgb(19, 27, 34);

}

.search-contact i{
    position: absolute;
    font-size: 25px;
    top: 10px;
    left: 10px;
}

.search-contact input{
    height: 45px;
    width: 100%;
    border-radius: 25px;
    border:none;
    font-size: 18px;
    padding: 0 10px 0 50px;
    margin-bottom: 10px;
    background-color: rgb(48, 54, 57);


}

.contact-list{
    height: calc(100% - 225px);
    overflow-y:auto;
    overflow-x:hidden;
    background-color: rgb(19, 27, 34);

}

.chat-preview:hover{
    background-color: rgb(37, 45, 48);

}

.contact-list ul {
    height: auto;
    display: flex;
    flex-direction: column;
}

.chat-preview{
    height: 60px;
    margin:10px 0;
    font-size: 18px;
    border-bottom: 1px solid darkgrey;
    border-radius: 8px;
    display:flex;
}

.chat-preview-up>i{
    font-size: 47px;
    padding: 0 11px;
    color: rgb(110, 110, 110);
}


.minicont{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    white-space: nowrap;
    
}
.name{
    font-weight: bold;
    color: rgb(200, 203, 206);
}

.message{
    color: rgb(135, 135, 135);
    width: 263px;    /* da rivedere!!!!!!!!!!!!! */
}

.up-band{
    width: 100%;
    height: 70px;
    background-color: rgb(42, 46, 49);
    position: relative;
    
}

.douwn-band{
    width: 100%;
    height: 70px;
    display: flex;
    background-color: rgb(42, 46, 49);   
    justify-self: flex-end;
    align-items:center;
  
}

.douwn-band i{
    font-size: 30px;
    padding: 0 20px;
    color: rgb(138, 136, 135)

}

.douwn-band input{
    flex-grow: 1;
    height: 70%;
    font-size: 20px;
    padding:  10px 20px;
    border-radius: 25px;
}

.conv{
    height: calc(100% - 140px);
    width: 100%;
    overflow-y: auto;
    background: url('http://forums.crackberry.com/attachments/blackberry-10-wallpapers-f308/137432d1361639896t-z10-wallpaper-set-z10-music.jpg');
 }

  ::-webkit-scrollbar {
    width: 8px;
    height: 100%;
   }
   ::-webkit-scrollbar-thumb {
    background:  rgb(135, 135, 135);

    border-radius: 10px;
   }
   ::-webkit-scrollbar-thumb:hover{
    background: rgb(48, 54, 57);
   }
   ::-webkit-scrollbar-track{
    background: #ffffff;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
   } 

.message-conv {
    float: left;
    color: #000000;
    font-weight:600;
    font-size:12px;
    margin:10px 0;
    width: 100%; 
    padding: 10px 20px;

  }
.message-chat{
    background:rgb(246, 246, 246);
    border-radius:  10px  10px 10px 0;
    padding: 8px;
    display: inline-flex;
 
}
    
  
  .sent{
      float: right;
      border-radius: 10px   10px 0 10px;
      background:rgb(192, 241, 153);
  }

  .sent:after, .message-conv:after{
      content: '';
      clear: both;
      display: table;
  }

  

  .date-chat{
    color: rgb(135, 135, 135);
    font-size: 11px;
    font-weight: bold;
    margin: 11px 1px 0 0 ;
    padding-top: 6px;
    cursor: pointer;
}

.date-chat:hover{
    font-size: 12px;
    color: black;
}

.date{
    color: rgb(135, 135, 135);
    font-size: 11px;
    font-weight: bold;
    align-self: end;

}

.date-up{
    color: rgb(135, 135, 135);
    font-size: 12px;
    font-weight: 600;
}


.intro{
    width: 75%;
    height: 100%;
    z-index: 999;
    background-color: rgb(37, 45, 48);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro img{
    border-radius: 100%;

}

.main-intro-text{
    font-size: 28px;
    font-weight: 500;
    padding: 15px 0;
    color: rgb(200, 203, 206);

}

.intro span:last-child{
    text-align: center;
    color: rgb(122, 127, 131);
    padding: 0 10%;
}

.tick {
    margin-left: 2px;
    width: 16px;
    color: rgb(79, 195, 247);
    align-self: flex-end;
    margin-left: 5px;

  }

  .pop-del ul{
    display:flex;


 }

.pop-del li{
    color: white;
    background-color:rgb(122, 127, 131,0.5);
    padding: 7px 10px;
    border-radius: 15px;
    cursor: pointer;
 }
  
   .tick i:last-of-type{
    animation-name: mymove;
    animation-duration: 2s; 

  }
  

  @keyframes mymove {
    
    1%{ color: rgb(110, 110, 110);
       }
    40%{ transform: rotateY(180deg);
        transform: rotateY(180deg);}
    100%{ transform: rotateY(0);
            transform: rotateY(0);
            color: rgb(79, 195, 247);
        }
  }

  .online{
      /* margin-top: 7px; */
      color: rgb(110, 110, 110);
  }

  .chat-preview-up{
        height: 60px;
        margin:10px 0;
        font-size: 18px;
        display:flex; 
    }

    .icon-up{
        position: absolute;
        right: 20px;
        top: calc(50% - 15px);
        font-size: 25px;
    }

    .icon-up i{
        padding: 0 8px;
        color: rgb(110, 110, 110);

    }

    i:hover{
        color: rgb(19, 27, 34);
        cursor: pointer;
    }

     ul .mini-arrow{
        background-color: transparent;
        color: rgb(122, 127, 131,0.5) 
    }

 